@import url(https://fonts.googleapis.com/css?family=Mr+Dafoe);

body {
    /* background-color: black; */
    padding: 0;
    margin: 0 0 0 0;
}
.form--column {
    display: flex;
    flex-direction: column;
    /* color: white; */
}

#entries {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 20px 10px 10px 10px;
}

.entryLog {
    flex-basis: 30%;
    height: 200px;
    overflow: scroll;
    word-wrap: break-word;
    border: solid 1px white;
    padding: 15px 15px 15px 15px;
    margin-bottom: 20px;
}

 
.entryLog:hover{
    background-color: bisque;
    box-shadow: 2px 2px 2px 2px gray;
}

@font-face {
    font-family: 'rocket_rinderregular';
    src: url('rocket_rinder-webfont.woff2') format('woff2'),
         url('rocket_rinder-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

.headline {
    font-family: 'rocket_rinderregular', sans-serif;
    text-align: center;
    font-size: 250px;
    margin: 0px;
    padding-top: 20px;
    -webkit-text-fill-color: #fcf8f2;
    -webkit-text-stroke: 4px #0e1a5d;
    text-shadow: 20px 13px 14px #e31687;
    /* -webkit-filter: drop-shadow(4px 4px 25px #e31687); */
    /* z-index: 2; */
}
.headline__2 {
    /* position: absolute; */
    text-align: center;
    margin: 0px;
    font-family: 'Mr Dafoe', cursive;
    font-size: 160px;
    color: #16e0e3;
    transform:rotate(-15deg);
    margin-left: 450px;
    margin-top: -150px;
    -webkit-text-stroke: 1px #13bbbe;
    -webkit-filter: drop-shadow(2px 2px 20px #13bbbe);
}

.header {
    /* background-color: #fcf8f2; */
    margin: 0px;
    width: 100%;
    /* background-image: url(http://www.geodomehome.org/images/80s-patterns-google-search-art-pattern-90s-pattern__aHR0cHM6Ly9pLnBpbmltZy5jb20vb3JpZ2luYWxzL2JlL2IxLzY5L2JlYjE2OTUwM2UyOTFiZmRmNGIxZjk2ODgyNWNhNjFiLmpwZw==.jpg); */
    background-image: url(https://i.pinimg.com/originals/c1/2a/3d/c12a3d20dc24e8f6b5ad5469e4f03761.jpg);
    background-size: cover;
    -webkit-background-size: cover;
    
}

.line {
    background-color: darkgrey;
    height: 8px;  
    margin-bottom: 200px;
    /* z-index: 1; */
   
   
}

/* .lineBackground {
    padding-bottom: 110px;
} */

.overflow {
    margin-top: -278px;
    height: 180px;
    padding-bottom: 85px;
    /* clip-path: inset(0px 0px 0px 75%); */
    overflow: hidden;
}

.line1 {
    background-color: darkgrey;
    height: 8px;  
    margin-top: -30px;
   
}
.line2 {
    background-color: darkgrey;
    height: 8px;  
    margin-top: -30px;
   
}
.line3 {
    background-color: darkgrey;
    height: 8px;  
    margin-top: -30px;
   
}
.line4 {
    background-color: darkgrey;
    height: 8px;  
    margin-top: -30px;
   
}
.line5 {
    background-color: darkgrey;
    height: 8px;  
    margin-top: -30px;
   
}

.line6 {
    background-color: darkgrey;
    height: 8px;  
    margin-top: -30px;
   
}

.line7 {
    background-color: darkgrey;
    height: 8px;  
    margin-top: -30px;
   
}
.line8 {
    background-color: darkgrey;
    height: 8px;  
    margin-top: -30px;
   
}



