.form--column {
    display: flex;
    flex-direction: column;
}

#entries {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap
}

.entryLog {
    flex: 1;
    width: 32%;
	margin: 1%;	
}

.entryLog:hover{
    background-color: bisque;
    box-shadow: 2px 2px 2px 2px gray;
}